// @import '../../../node_modules/bootstrap-4-grid/css/grid.min.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import '/node_modules/vuetify/src/styles/generic/reset.scss';

@import '/node_modules/vuetify/src/styles/generic/animations.scss';

@import 'variables.scss';

@import './form/form-style.scss';
@import './editor/editor-style.scss';

body {
  margin: 0;
}

.col-md-6 {
  padding: 12px 12px 0;
}

* {
  font-family: 'Lato Regular';
}

.col-sm-6 {
  padding-right: 0;
  padding-left: 0;
}

.centralizer {
  text-align: center;
}

.title-form {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
}