.form-area {
  margin-top: 100px;
}
textarea {
  resize: none;
}
.v-input {
  max-width: 60%;
  @media (max-width: 767px) {
    max-width: 80%;
  }
  margin: auto !important;
  input {
    padding: 8px 18px 8px 8px !important;
    max-height: 34px;
    line-height: 18px;
  }
  textarea {
    margin-top: 0 !important;
    padding: 8px 18px 8px !important;
    line-height: 18px;
  }
}
.v-application {
  .grey-input {
    padding: 0;
    &.v-input__slot {
      padding: 0 !important;
      min-height: 34px !important;
    }
    background-color: $grey-input !important;
    border-color: $gree-focus-input !important;
  }
  .primary--text {
    &.v-input {
      color: $gree-focus-input !important;
      caret-color: $gree-focus-input !important;
      &.error-input {
        color: $red-error-input !important;
        caret-color: $red-error-input !important;
      }
    }
  }
}
.v-text-field--outlined {
  .v-text-field--solo {
   font-size: 14px;
  }
}
.v-text-field__slot {
  span {
    top: -22px !important;
    left: 0px;
    position: absolute;
    font-weight: 400;
    &.error-feedback {
      top: 32px !important;
      left: unset;
      right: 0;
      color: $red-error-input;
      font-size: 12px;
      font-weight: 400;
    }
  }
  &.v-label--acitve {
    transform: translateY(0) scale(0) !important;
  }
}
