#mytoolbar {
  background-color: rgb(44, 44, 44);
  .tox.tox-tinymce.tox-tinymce-inline {
    visibility: visible !important;
    display: block !important;
  }
  .tox-toolbar-overlord {
    background-color: rgb(44, 44, 44);
    .tox-toolbar__primary {
      background-color: transparent;
      background-image: unset;
      color: white;
      .tox-tbtn__select-label {
        color: white;
      }
      button, span {
        svg {
          fill: white;
        }
      }
      button {
        &:hover {
          background-color: unset;
        }
      }
    }
  }
}
.mce-content-body {
  padding: 15px;
  background-color: rgb(44, 44, 44);
  height: 94vh;
  @media (max-width: 767px) {
    height: 200px;
  }
  color: white;
  svg, polyline {
    stroke: white;
    path, line {
      stroke: white !important;
    }
  }
  span {
    color: white;
  }
}