<template>
  <div class="home container-fluid">
    <v-row>
      <v-col cols="12" md="5">
          <textarea>
    Welcome to TinyMCE!
  </textarea>
        <v-container>
          <h1 class="title-form centralizer">Formulário</h1>
          <form-details :cName="cName" :cAge="cAge" :cResume="cResume"></form-details>
        </v-container>
      </v-col>
      <v-col cols="12" md="7">
        <div id="mytoolbar" style="position: relative"></div>
        <editor
        id="editor"
        api-key="swvn0gkxas13ln8fq9tj9elvn74jr8xom2mez6k8fdshelze"
        :initial-value="content"
        :inline=true
        tag-name="div"
        v-model="filled"
        outputFormat="html"
        @onKeyUp="testChange"
        fixed_toolbar_container="mytoolbar"
        :init="{
          menubar: false,
          plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
          ],
          toolbar:
            'bold italic backcolor | \
            alignleft aligncenter alignright alignjustify | \
            bullist numlist outdent indent | removeformat | help',
            fixed_toolbar_container_target: tBar
        }"
      />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import getDate from '../mixins/getDate.js';
import FormDetailsVue from '../components/forms/Form.vue';
import Editor from '@tinymce/tinymce-vue';

export default {
  name: 'Home',
  mixins: [getDate],
  components: {
    'form-details': FormDetailsVue,
    'editor': Editor
  },
  data() {
    return {
      content: `<h2><strong><span id="name">[Nome do candidato]<span/></strong></h2><br/>
      <p id="wrapper">Idade: <span id="age">[Idade]</span> anos</p>
      <br/><p>Resumo:</p><p><span id="resume">[Resumo]<span/></p>
      <br/><p>Salvador, ${this.theDate()}</p>`,
      name: '',
      age: '',
      resume: '',
      err: {
        age: null,
        name: null,
      },
      ok: {
        age: false,
        name: false
      },
      filled: null,
      cName: null,
      cAge: null,
      cResume: null,
      tBar: null
    }
  },

  watch: {
    name (val) {
      let nameScope = document.getElementById('name')
      this.setContent('[Nome do candidato]', nameScope, val)
    },
    age (val) {
      let ageScope = document.getElementById('age')
      this.setContent('[Idade]', ageScope, val)
    },
    resume (val) {
      let resumeScope = document.getElementById('resume')
      this.setContent('[Resumo]', resumeScope, val)
    },
  },
  methods: {
    setContent (defaultValue, el, val) {
      if (val !== '') {

        if (defaultValue === '[Idade]') {
          el.textContent = `${val}`;
        } else {
          el.textContent = val
        }
      } else {
        el.textContent = defaultValue
      }
    },
    testChange() {
      this.cName = document.getElementById('name').textContent != '[Nome do candidato]' ? 
      document.getElementById('name').textContent : ''
      this.cAge = document.getElementById('age').textContent != '[Idade]' ? 
      document.getElementById('age').textContent : ''
      this.cResume = document.getElementById('resume').textContent != '[Resumo]' ?
      document.getElementById('resume').textContent : ''
    },
  },

  mounted() {
    tinymce.init({
      selector: 'textarea',
      plugins: 'a11ychecker advcode casechange export formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
      toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter pageembed permanentpen table',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
   }).then(() => {

     const teste = tinymce.activeEditor.dom.setAttrib('id', 'teset')
     tinymce.activeEditor.dom.addClass(tinymce.activeEditor.dom.select('p'), 'someclass');  
     console.log(teste)
   })
    setTimeout(() => {
      document.getElementById('editor').focus()
    }, 600);
    this.tBar = document.getElementById('mytoolbar')
    this.$root.$on('sendName', e => {
      this.name = e;
    })
    this.$root.$on('sendAge', e => {
      this.age = e;
    })
    this.$root.$on('sendResume', e => {
      this.resume = e;
    })
    this.$root.$on('sendNameOk', e => {
      this.ok.name = e;
    })
    this.$root.$on('sendAgeOk', e => {
      this.ok.age = e;
    })
  },
};
</script>
