<template>
  <v-row class="form-area">
    <v-col cols="12" md="12">
      <v-text-field
        id="nome"
        background-color="grey-input"
        outlined
        autocomplete="off"
        v-model="name"
        placeholder="Digite seu nome e sobrenome"
      ></v-text-field>
    </v-col>
    <v-col cols="12" md="12">
      <v-text-field
        id="idade"
        background-color="grey-input"
        outlined
        v-model="age"
        autocomplete="off"
        placeholder="Insira sua idade"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
      ></v-text-field>
    </v-col>
    <v-col cols="12" md="12">
        <v-textarea
          id="resumo"
          background-color="grey-input"
          outlined
          autocomplete="off"
          v-model="resume"
          placeholder="Descreva um breve resumo"
        ></v-textarea>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'form-details',
  props: ['cName', 'cAge', 'cResume'],

  data() {
    return {
      name: null,
      age: null,
      resume: null,
      err: {
        age: null,
        name: null,
      },
      ok: {
        age: false,
        name: false,
      },
      fieldsList: ['Nome', 'Idade', 'Resumo'],
      styleError: 'color: #973937 !important;caret-color: #973937 !important;'
    }
  },

  watch: {
    name (val) {
      this.$root.$emit('sendName', val)
      this.nameCheck(val)
    },
    age (val) {
      this.$root.$emit('sendAge', val)
      this.ageCheck(val)
    },
    resume (val) {
      this.$root.$emit('sendResume', val)
    },
    cName (val) {
      this.name = val
    },
    cAge (val) {
      this.age = val
    },
    cResume (val) {
      this.resume = val
    },
  },

  methods: {
    checkValid(type) {
      switch (type) {
        case 'age':
          this.ageCheck();
          break;
        case 'name':
          this.nameCheck();
          break;
        default:
          break;
      }
    },

    ageCheck(val) {
      const errIdade = document.getElementById('error-Idade')
      const inputIdade = document.getElementById('input-Idade')
      const label = document.getElementById('label-custom-Idade')
      if (val > 80 || val < 18 || val == '') {
        errIdade.textContent = 'Por favor insira uma idade válida (entre 18 e 80 anos)'
        inputIdade.setAttribute('style', this.styleError)
        label.setAttribute('style', 'font-weight: 700')
        this.$root.$emit('sendAgeOk', false)
      } else {
        errIdade.textContent = null
        inputIdade.removeAttribute('style')
        label.removeAttribute('style')
        this.$root.$emit('sendAgeOk', true)
      }
    },
    nameCheck(val) {
      const errNome = document.getElementById('error-Nome')
      const inputNome = document.getElementById('input-Nome')
      const label = document.getElementById('label-custom-Nome')
      if (val == '') {
        inputNome.setAttribute('style', this.styleError)
        label.setAttribute('style', 'font-weight: 700')
        errNome.textContent = 'O campo Nome não pode estar vazio'
        this.$root.$emit('sendNameOk', false)
      } else if (val != undefined && this.checkNaN()) {
        inputNome.setAttribute('style', this.styleError)
        label.setAttribute('style', 'font-weight: 700')
        errNome.textContent = 'O nome não deve conter números'
        this.$root.$emit('sendNameOk', false)
      } else if (val != undefined && val.indexOf(' ') < 0) {
        inputNome.setAttribute('style', this.styleError)
        label.setAttribute('style', 'font-weight: 700')
        errNome.textContent = 'Deve conter ao menos nome e sobrenome'
        this.$root.$emit('sendNameOk', false)
      } else {
        errNome.textContent = ''
        inputNome.removeAttribute('style')
        label.removeAttribute('style')
        this.$root.$emit('sendNameOk', true)
      }
    },
    checkNaN() {
      let isNumber = false
      for (let i = 0; i < this.name.length; i++) {
        if (!isNaN(this.name[i]) && this.name[i] != ' ') {
          isNumber = true
        }
      }

      return isNumber
    },
    addLabels () {
      const field = document.getElementsByClassName('v-text-field__slot')
      field.forEach((element, index) => {
        let label = document.createElement('span')
        let labelErr = document.createElement('span')
        label.setAttribute('id', `label-custom-${this.fieldsList[index]}`)
        labelErr.setAttribute('class', 'error-feedback')
        labelErr.setAttribute('id', `error-${this.fieldsList[index]}`)
        label.textContent = this.fieldsList[index]
        element.appendChild(label)
        element.appendChild(labelErr)
      });
    },
    addIdClass() {
      const fields = document.getElementsByClassName('v-input')
      fields.forEach((element, index) => {
        element.setAttribute('id', `input-${this.fieldsList[index]}`)
      });
    },
  },
  mounted() {
    this.addLabels()
    this.addIdClass()
  },
}
</script>
